* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titleSection {
  border-bottom: 2px solid aqua;
}

.educationInformation {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
